@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Zeyada&display=swap');
:root
{
    --top_position: 0;
    --left_position : 0;
    --rotate_value : 0;
}
#rightClickVouch
{
    position: absolute;
    color: #888;
    top: var(--top_position);
    left: var(--left_position);
    font-family: 'Zeyada', cursive;
    font-size: 18px;
    transition: .25s;
    opacity: 0;
    transform: rotate(var(--rotate_value));
}